body {
    background-color: pink;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.calculator-body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 650px;
    width: 450px;
    border-radius: 20px;
}

.calculator-screen {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 10px;
    height: 100px;
    width: 380px;
    margin-top: 10px;
    padding: 2%;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    font-size: 30px;
    gap: 15px;
}

.calculator-screen.formula-bar,
.calculator-screen.output-bar {
    border: none;
    margin: 0;
    padding: 0;
}

.calculator-button-container {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.calculator-button-row {
    display: flex;
    gap: 10px;
}

.calculator-button {
    border-radius: 100%;
    height: 85px;
    width: 85px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    transition: 0.5s;
}


#zero {
    width: 180px;
    border-radius: 55px;
}

.calculator-button.number, .calculator-button.decimal {
    background-color: #666666;
    color: white;
    line-height: 85px;
}

.calculator-button.operator, .calculator-button.operate {
    background-color: #FFA500;    ;
    color: white;
}

.calculator-button.functions, .calculator-button.uwu {
    background-color: #c4c4c4;
    line-height: 85px;
}

.calculator-button.uwu{
    font-size: 30px;
}

.calculator-button.number:hover, .calculator-button.decimal:hover{
    background-color: #bebebe;
}
.calculator-button.operator:hover, .calculator-button.operate:hover{
    background-color: #ffda94; 
}
.calculator-button.functions:hover, .calculator-button.uwu:hover {
    background-color: #f0f0f0;  
}

.calculator-button.number:hover, .calculator-button.operator:hover, .calculator-button.functions:hover {
    transition: 0.5s;
}